<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-banks-details-heading" data-cy="BanksDetailsCreateUpdateHeading">Create or edit a Banks Details</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_accountNumber">Account Number</label>
          <input
            type="number"
            class="form-control"
            name="accountNumber"
            id="field_accountNumber"
            data-cy="accountNumber"
            formControlName="accountNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_bankName">Bank Name</label>
          <input type="text" class="form-control" name="bankName" id="field_bankName" data-cy="bankName" formControlName="bankName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_branchTransCode">Branch Trans Code</label>
          <input
            type="text"
            class="form-control"
            name="branchTransCode"
            id="field_branchTransCode"
            data-cy="branchTransCode"
            formControlName="branchTransCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_taxNumber">Tax Number</label>
          <input type="text" class="form-control" name="taxNumber" id="field_taxNumber" data-cy="taxNumber" formControlName="taxNumber" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_gstin">Gstin</label>
          <input type="text" class="form-control" name="gstin" id="field_gstin" data-cy="gstin" formControlName="gstin" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tan">Tan</label>
          <input type="text" class="form-control" name="tan" id="field_tan" data-cy="tan" formControlName="tan" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_branchName">Branch Name</label>
          <input
            type="text"
            class="form-control"
            name="branchName"
            id="field_branchName"
            data-cy="branchName"
            formControlName="branchName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_refTable">Ref Table</label>
          <input type="text" class="form-control" name="refTable" id="field_refTable" data-cy="refTable" formControlName="refTable" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_refTableId">Ref Table Id</label>
          <input
            type="number"
            class="form-control"
            name="refTableId"
            id="field_refTableId"
            data-cy="refTableId"
            formControlName="refTableId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_companyId">Company Id</label>
          <input type="number" class="form-control" name="companyId" id="field_companyId" data-cy="companyId" formControlName="companyId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModified">Last Modified</label>
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
