<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employee">
      <h2 data-cy="employeeDetailsHeading"><span>Employee</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ employee.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ employee.firstName }}</span>
        </dd>
        <dt><span>Middle Name</span></dt>
        <dd>
          <span>{{ employee.middleName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ employee.lastName }}</span>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
          <span>{{ employee.gender }}</span>
        </dd>
        <dt><span>Emp Unique Id</span></dt>
        <dd>
          <span>{{ employee.empUniqueId }}</span>
        </dd>
        <dt><span>Joindate</span></dt>
        <dd>
          <span>{{ employee.joindate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ employee.status }}</span>
        </dd>
        <dt><span>Email Id</span></dt>
        <dd>
          <span>{{ employee.emailId }}</span>
        </dd>
        <dt><span>Employment Type Id</span></dt>
        <dd>
          <span>{{ employee.employmentTypeId }}</span>
        </dd>
        <dt><span>Reporting Emp Id</span></dt>
        <dd>
          <span>{{ employee.reportingEmpId }}</span>
        </dd>
        <dt><span>Company Id</span></dt>
        <dd>
          <span>{{ employee.companyId }}</span>
        </dd>
        <dt><span>Last Modified</span></dt>
        <dd>
          <span>{{ employee.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ employee.lastModifiedBy }}</span>
        </dd>
        <dt><span>Designation</span></dt>
        <dd>
          <div *ngIf="employee.designation">
            <a [routerLink]="['/designation', employee.designation.id, 'view']">{{ employee.designation.name }}</a>
          </div>
        </dd>
        <dt><span>Department</span></dt>
        <dd>
          <div *ngIf="employee.department">
            <a [routerLink]="['/department', employee.department.id, 'view']">{{ employee.department.name }}</a>
          </div>
        </dd>
        <dt><span>Personaldetails</span></dt>
        <dd>
          <div *ngIf="employee.personaldetails">
            <a [routerLink]="['/personal-details', employee.personaldetails.id, 'view']">{{ employee.personaldetails.id }}</a>
          </div>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <div *ngIf="employee.address">
            <a [routerLink]="['/address', employee.address.id, 'view']">{{ employee.address.id }}</a>
          </div>
        </dd>
        <dt><span>Contacts</span></dt>
        <dd>
          <div *ngIf="employee.contacts">
            <a [routerLink]="['/contacts', employee.contacts.id, 'view']">{{ employee.contacts.id }}</a>
          </div>
        </dd>
        <dt><span>Bankdetails</span></dt>
        <dd>
          <div *ngIf="employee.bankdetails">
            <a [routerLink]="['/banks-details', employee.bankdetails.id, 'view']">{{ employee.bankdetails.id }}</a>
          </div>
        </dd>
        <dt><span>Familyinfo</span></dt>
        <dd>
          <div *ngIf="employee.familyinfo">
            <a [routerLink]="['/family-info', employee.familyinfo.id, 'view']">{{ employee.familyinfo.id }}</a>
          </div>
        </dd>
        <dt><span>Workexperience</span></dt>
        <dd>
          <div *ngIf="employee.workexperience">
            <a [routerLink]="['/work-experience', employee.workexperience.id, 'view']">{{ employee.workexperience.id }}</a>
          </div>
        </dd>
        <dt><span>Education</span></dt>
        <dd>
          <div *ngIf="employee.education">
            <a [routerLink]="['/education', employee.education.id, 'view']">{{ employee.education.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
