<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="education">
      <h2 data-cy="educationDetailsHeading"><span>Education</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ education.id }}</span>
        </dd>
        <dt><span>Institution</span></dt>
        <dd>
          <span>{{ education.institution }}</span>
        </dd>
        <dt><span>Subject</span></dt>
        <dd>
          <span>{{ education.subject }}</span>
        </dd>
        <dt><span>Start Year</span></dt>
        <dd>
          <span>{{ education.startYear | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ education.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Education Type</span></dt>
        <dd>
          <span>{{ education.educationType }}</span>
        </dd>
        <dt><span>Grade</span></dt>
        <dd>
          <span>{{ education.grade }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ education.description }}</span>
        </dd>
        <dt><span>Employee Id</span></dt>
        <dd>
          <span>{{ education.employeeId }}</span>
        </dd>
        <dt><span>Company Id</span></dt>
        <dd>
          <span>{{ education.companyId }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ education.status }}</span>
        </dd>
        <dt><span>Last Modified</span></dt>
        <dd>
          <span>{{ education.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ education.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/education', education.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
