<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="familyInfo">
      <h2 data-cy="familyInfoDetailsHeading"><span>Family Info</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ familyInfo.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ familyInfo.name }}</span>
        </dd>
        <dt><span>Date Of Birth</span></dt>
        <dd>
          <span>{{ familyInfo.dateOfBirth | formatMediumDate }}</span>
        </dd>
        <dt><span>Relation</span></dt>
        <dd>
          <span>{{ familyInfo.relation }}</span>
        </dd>
        <dt><span>Address Id</span></dt>
        <dd>
          <span>{{ familyInfo.addressId }}</span>
        </dd>
        <dt><span>Is Employed</span></dt>
        <dd>
          <span>{{ familyInfo.isEmployed }}</span>
        </dd>
        <dt><span>Employed At</span></dt>
        <dd>
          <span>{{ familyInfo.employedAt }}</span>
        </dd>
        <dt><span>Employee Id</span></dt>
        <dd>
          <span>{{ familyInfo.employeeId }}</span>
        </dd>
        <dt><span>Company Id</span></dt>
        <dd>
          <span>{{ familyInfo.companyId }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ familyInfo.status }}</span>
        </dd>
        <dt><span>Last Modified</span></dt>
        <dd>
          <span>{{ familyInfo.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ familyInfo.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/family-info', familyInfo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
