<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-personal-details-heading" data-cy="PersonalDetailsCreateUpdateHeading">Create or edit a Personal Details</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_telephoneNo">Telephone No</label>
          <input
            type="text"
            class="form-control"
            name="telephoneNo"
            id="field_telephoneNo"
            data-cy="telephoneNo"
            formControlName="telephoneNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nationality">Nationality</label>
          <input
            type="text"
            class="form-control"
            name="nationality"
            id="field_nationality"
            data-cy="nationality"
            formControlName="nationality"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_maritalStatus">Marital Status</label>
          <input
            type="text"
            class="form-control"
            name="maritalStatus"
            id="field_maritalStatus"
            data-cy="maritalStatus"
            formControlName="maritalStatus"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_religion">Religion</label>
          <input type="text" class="form-control" name="religion" id="field_religion" data-cy="religion" formControlName="religion" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_employeeId">Employee Id</label>
          <input
            type="number"
            class="form-control"
            name="employeeId"
            id="field_employeeId"
            data-cy="employeeId"
            formControlName="employeeId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_companyId">Company Id</label>
          <input type="number" class="form-control" name="companyId" id="field_companyId" data-cy="companyId" formControlName="companyId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_bloodGroup">Blood Group</label>
          <input
            type="text"
            class="form-control"
            name="bloodGroup"
            id="field_bloodGroup"
            data-cy="bloodGroup"
            formControlName="bloodGroup"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateOfBirth">Date Of Birth</label>
          <div class="input-group">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="text"
              class="form-control"
              name="dateOfBirth"
              ngbDatepicker
              #dateOfBirthDp="ngbDatepicker"
              formControlName="dateOfBirth"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModified">Last Modified</label>
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
