<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span>Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ address.type }}</span>
        </dd>
        <dt><span>Line 1</span></dt>
        <dd>
          <span>{{ address.line1 }}</span>
        </dd>
        <dt><span>Line 2</span></dt>
        <dd>
          <span>{{ address.line2 }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ address.country }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ address.state }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ address.city }}</span>
        </dd>
        <dt><span>Pincode</span></dt>
        <dd>
          <span>{{ address.pincode }}</span>
        </dd>
        <dt><span>Default Add</span></dt>
        <dd>
          <span>{{ address.defaultAdd }}</span>
        </dd>
        <dt><span>Land Mark</span></dt>
        <dd>
          <span>{{ address.landMark }}</span>
        </dd>
        <dt><span>Longitude</span></dt>
        <dd>
          <span>{{ address.longitude }}</span>
        </dd>
        <dt><span>Latitude</span></dt>
        <dd>
          <span>{{ address.latitude }}</span>
        </dd>
        <dt><span>Ref Table</span></dt>
        <dd>
          <span>{{ address.refTable }}</span>
        </dd>
        <dt><span>Ref Table Id</span></dt>
        <dd>
          <span>{{ address.refTableId }}</span>
        </dd>
        <dt><span>Company Id</span></dt>
        <dd>
          <span>{{ address.companyId }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ address.status }}</span>
        </dd>
        <dt><span>Last Modified</span></dt>
        <dd>
          <span>{{ address.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ address.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
