<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="designation">
      <h2 data-cy="designationDetailsHeading"><span>Designation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ designation.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ designation.name }}</span>
        </dd>
        <dt><span>Department Id</span></dt>
        <dd>
          <span>{{ designation.departmentId }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ designation.status }}</span>
        </dd>
        <dt><span>Company Id</span></dt>
        <dd>
          <span>{{ designation.companyId }}</span>
        </dd>
        <dt><span>Last Modified</span></dt>
        <dd>
          <span>{{ designation.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ designation.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/designation', designation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
