<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="personalDetails">
      <h2 data-cy="personalDetailsDetailsHeading"><span>Personal Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ personalDetails.id }}</span>
        </dd>
        <dt><span>Telephone No</span></dt>
        <dd>
          <span>{{ personalDetails.telephoneNo }}</span>
        </dd>
        <dt><span>Nationality</span></dt>
        <dd>
          <span>{{ personalDetails.nationality }}</span>
        </dd>
        <dt><span>Marital Status</span></dt>
        <dd>
          <span>{{ personalDetails.maritalStatus }}</span>
        </dd>
        <dt><span>Religion</span></dt>
        <dd>
          <span>{{ personalDetails.religion }}</span>
        </dd>
        <dt><span>Employee Id</span></dt>
        <dd>
          <span>{{ personalDetails.employeeId }}</span>
        </dd>
        <dt><span>Company Id</span></dt>
        <dd>
          <span>{{ personalDetails.companyId }}</span>
        </dd>
        <dt><span>Blood Group</span></dt>
        <dd>
          <span>{{ personalDetails.bloodGroup }}</span>
        </dd>
        <dt><span>Date Of Birth</span></dt>
        <dd>
          <span>{{ personalDetails.dateOfBirth | formatMediumDate }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ personalDetails.status }}</span>
        </dd>
        <dt><span>Last Modified</span></dt>
        <dd>
          <span>{{ personalDetails.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
          <span>{{ personalDetails.lastModifiedBy }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/personal-details', personalDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
